<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/mda/project/BrowserDSL" 
       class = "org.xtext.mda.project.browserDSL.BrowserDSLPackage"
       genModel = "model/generated/BrowserDSL.genmodel" /> 
	
  </extension>



</plugin>
