<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="BrowserDSL Action Set"
            visible="true"
            id="BrowserDSL.interpreteur.actionSet">
         <menu
               label="BrowserDSL"
               id="browserdslMenu">
            <separator
                  name="browserdslGroup">
            </separator>
         </menu>
         <action
               label="Execute BrowserDSL"
               icon="icons/sample.gif"
               class="org.xtext.mda.project.browserdsl.interpreteur.actions.InterpreterAction"
               tooltip="Execute the currently selected browserdsl model"
               menubarPath="browserdslMenu/browserdslGroup"
               toolbarPath="browserdslGroup"
               id="browserdsl">
         </action>
      </actionSet>
   </extension>
   
</plugin>
